# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Node / Frontend
node_modules/
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# IDEs
.idea/
.project
.classpath
*.launch
.settings/

# System
.DS_Store
Thumbs.db
